.navbar, .textContainerDark{
    background-color: #353a40;
}
.heroImg{
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.4)),
    url(../assets/img/ba1.jpg);
    background-position: bottom;
}
.textHeroContainer{
    top: 40vh;
}
.btnOutGrey{
    color: rgba(255, 255, 255, 0.637);
    border-color: rgba(255, 255, 255, 0.637);
}
.navItems{
    justify-content: flex-end;
}

.btnEnviar{
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #96c93e;
    color: white;
    padding: 6px;
}

footer{
    background-color: #1d4358;
}

footer ul{
    height: 14vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;  
    list-style: none;
    align-items: center;
    
}
li{    
    width: 100px;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

@media (max-width:700px){    
    .textHeroContainer{
        top: 25vh;
        padding-right: 0!important;
    }
    .navbar-brand{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    .ciudad img{
        max-height: 40vh;
        max-height: 60vw;
        object-fit: contain;
    
    }
}
